@charset "UTF-8";

.well {
	background-color: #FFF;
    border: 0;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px;
}

.thumbnail {
    background-color: #fff;
    border: 0;
    border-radius: 0;
    display: block;
    line-height: 1.42857;
    margin-bottom: 22px;
    padding: 4px;
    transition: all 0.2s ease-in-out 0s;
}

.thumbnails:before, .thumbnails:after {
    content: "";
    display: table;
    line-height: 0;
}
.thumbnails:after {
    clear: both;
}
.thumbnails:before, .thumbnails:after {
    content: "";
    display: table;
    line-height: 0;
}
.thumbnails {
    list-style: outside none none;
    margin-left: -20px;
}

.thumbnails > li {
    float: left;
    margin-bottom: 20px;
    margin-left: 20px;
}
.span3 {
    width: 220px;
}
[class*="span"] {
    float: left;
    margin-left: 20px;
    min-height: 1px;
}
li {
    line-height: 20px;
}